---
import ItemDate from './ItemDate.astro';
import ItemTags from './ItemTags.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post }: Props = Astro.props;
---

<section class="mb-10">
  <ItemDate post={post.data} />

  <h1
    class="font-bold text-4xl mt-3 mb-3"
    transition:name={`${post.data.slug}-title`}
  >
    {post.data.title}
  </h1>

  <ItemTags post={post.data} />

  <hr class="text-zinc-800/5 mt-6" />
</section>
