---
import ItemDate from './ItemDate.astro';
import ItemTags from './ItemTags.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post }: Props = Astro.props;
---

<section class="mb-8 sm:mb-10">
  <ItemDate post={post.data} className="pl-0.25" />

  <h1
    class="font-bold text-2xl sm:text-3xl lg:text-4xl mt-3 mb-2 lg:mb-4 leading-tight"
    transition:name={`${post.data.slug}-title`}
  >
    {post.data.title}
  </h1>

  <ItemTags post={post.data} />

  <hr class="text-zinc-800/5 dark:text-zinc-200/5 mt-3 lg:mt-6" />
</section>
