---
import Giscus from '@giscus/react';
---

<Giscus
  client:idle
  id="comments"
  repo="SkyeYoung/SkyeYoung"
  repoId="R_kgDOG-k4ew"
  category="blog"
  categoryId="DIC_kwDOG-k4e84Cq5ge"
  mapping="url"
  reactionsEnabled="1"
  emitMetadata="0"
  theme="light"
  lang="en"
>
  <div
    slot="fallback"
    class="rounded-xl w-full h-80 bg-zinc-800/5 flex items-center justify-center text-zinc-600"
  >
    Loading comments...
  </div>
</Giscus>
