---
import type { BlogSchema } from '@/content.config';
import dayjs from 'dayjs';

interface Props {
  post: BlogSchema;
  className?: string;
}

const { post, className } = Astro.props;
---

<div
  class:list={['text-xs text-zinc-600 dark:text-zinc-400', className]}
  style={`view-transition-name: ${post.slug}-date`}
>
  {dayjs(post.created_at).format('YYYY 年 MM 月 DD 日')}
</div>
