---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getBlogTagsCount } from '@/utils/collection';
import Heading from '@/components/layouts/Heading.astro';
import HashTagIcon from '~icons/my/hash-tag';

const tags = await getBlogTagsCount();
---

<BaseLayout title="标签" className="flex justify-center">
  <Heading className="flex justify-center">
    <HashTagIcon style={{ viewTransitionName: 'hash-tag-icon' }} />
  </Heading>
  <ul class="flex flex-wrap gap-3 justify-center">
    {
      Array.from(tags.entries()).map(([tag, count]) => (
        <li>
          <a
            href={`/tags/${tag}`}
            class="inline-flex items-center gap-1 px-3 py-1 text-sm text-zinc-600 bg-zinc-100 rounded-md hover:bg-zinc-200 transition-colors duration-200"
          >
            <span transition:name={`tag-${tag}`}>{tag}</span>
            <span class="text-zinc-400 text-xs">({count})</span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
