---
import { getCollection, render } from 'astro:content';
import { sortByCreatedAt } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const sortedPosts = posts.toSorted(sortByCreatedAt);
  return sortedPosts.map((post, i) => ({
    params: { slug: post.data.slug },
    props: {
      post,
      prevPost: sortedPosts[i - 1],
      nextPost: sortedPosts[i + 1],
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>

  <nav>
    <ul>
      <li>
        {prevPost && <a href={`/posts/${prevPost.data.slug}`}>Previous</a>}
      </li>
      <li>
        {nextPost && <a href={`/posts/${nextPost.data.slug}`}>Next</a>}
      </li>
    </ul>
  </nav>
</BaseLayout>
