---
import { render } from 'astro:content';
import { getBlogCollection } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Comments } from '@/components/posts/Comments';
import { Toc } from '@/components/posts/Toc';
import { BackToTop } from '@/components/posts/BackToTop';
import ArticleHeader from '@/components/posts/ArticleHeader.astro';
import { ImageLightboxViewer } from '@/components/posts/ImageLightbox';
import License from '@/components/posts/License.astro';
import '/node_modules/katex/dist/katex.min.css';
import HetiScript from '@/scripts/heti.astro';
import MermaidScript from '@/scripts/mermaid.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getBlogCollection();
  return posts.map((post, i) => ({
    params: { slug: post.data.slug },
    props: {
      post,
      prevPost: posts[i - 1],
      nextPost: posts[i + 1],
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { headings, Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <div class="flex flex-row relative mt-[80px]">
    <div>
      <article class="px-2 min-w-3xl">
        <ArticleHeader post={post} />
        <section
          class="heti prose prose-h1:font-bold prose-h1:text-xl prose-a:no-underline prose-a:border-b prose-a:border-zinc-800/25 prose-a:border-dashed prose-a:hover:text-violet-800/80 prose-p:text-justify prose-pre:rounded-md prose-pre:border prose-pre:border-zinc-800/25 prose-pre:bg-zinc-900/5"
        >
          <Content />
        </section>

        <div class="my-20"></div>
        <License post={post.data} />
      </article>
      <div class="my-10 border-t-1 border-zinc-800/5"></div>
      <Comments client:visible />
    </div>
    <aside class="ml-10 sticky h-0 top-[10%]">
      <div class="backdrop-blur-md shadow-zinc-800/5 rounded-md">
        <Toc headings={headings} client:idle />
        <BackToTop client:idle />
      </div>
    </aside>
  </div>
  {post.body?.includes('![') && <ImageLightboxViewer client:idle />}
  <HetiScript />
  <MermaidScript />
</BaseLayout>
