---
import { render } from 'astro:content';
import { getBlogCollection } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Comments } from '@/components/posts/Comments';
import { Toc } from '@/components/posts/Toc';
import { BackToTop } from '@/components/posts/BackToTop';
import ArticleHeader from '@/components/posts/ArticleHeader.astro';
import Content from '@/components/posts/Content';
import { ImageLightboxViewer } from '@/components/posts/ImageLightbox';
import '/node_modules/katex/dist/katex.min.css';
import Heti from '@/components/posts/Heti.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getBlogCollection();
  return posts.map((post, i) => ({
    params: { slug: post.data.slug },
    props: {
      post,
      prevPost: posts[i - 1],
      nextPost: posts[i + 1],
    },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post, prevPost, nextPost } = Astro.props;
const { headings, Content: MDXContent } = await render(post);
const isMDX = post.filePath?.endsWith('mdx');
---

<BaseLayout title={post.data.title}>
  <div class="flex flex-row relative mt-[80px]">
    <div>
      <article class="px-2 min-w-3xl">
        <ArticleHeader post={post} />
        <section
          class="prose prose-h1:font-bold prose-h1:text-xl prose-a:no-underline prose-a:hover:text-blue-600 prose-p:text-justify heti"
        >
          {isMDX ? <MDXContent /> : <Content data={post.body ?? ''} />}
        </section>
      </article>
      <div class="my-10 border-t-1 border-zinc-800/5"></div>
      <Comments client:visible />
    </div>
    <aside class="ml-10 sticky h-0 top-[10%]">
      <div class="backdrop-blur-md shadow-zinc-800/5 rounded-md p-2">
        <Toc headings={headings} client:idle />
        <BackToTop client:idle />
      </div>
    </aside>
  </div>
  {post.body?.includes('![') && <ImageLightboxViewer client:idle />}
  <Heti />
</BaseLayout>
