---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ListItem from '@/components/posts/ListItem.astro';
import { ListPagination } from '@/components/posts/ListPagination';
import { getBlogCollection } from '@/utils/collection';
import Heading from '@/components/layouts/Heading.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getBlogCollection();
  return paginate(posts, { pageSize: 6 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;

// Generate SEO data for pagination
const isFirstPage = page.currentPage === 1;
const pageTitle = isFirstPage ? undefined : `第 ${page.currentPage} 页`;
---

<BaseLayout title={pageTitle}>
  {page.currentPage === 1 && <Heading>近期文章</Heading>}

  <ul class="space-y-5">
    {
      page.data.map((post, i) => (
        <li
          class="animate-slide-in-right animate-duration-300 animate-bezier-sine-in-out"
          style={{ animationDelay: `${i * 100}ms` }}
        >
          <ListItem post={post.data} />
        </li>
      ))
    }
  </ul>

  <ListPagination page={page} />
</BaseLayout>
