---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import List from '@/components/posts/List.astro';
import ListItem from '@/components/posts/ListItem.astro';
import { ListPagination } from '@/components/posts/ListPagination';
import { getBlogCollection } from '@/utils/collection';
import Heading from '@/components/layouts/Heading.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getBlogCollection();
  return paginate(posts, { pageSize: 6 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<BaseLayout>
  {page.currentPage === 1 && <Heading>近期文章</Heading>}

  <List>
    {
      page.data.map((post, i) => (
        <li
          class="animate-fade-in-left animate-duration-300 opacity-0 animate-fill-mode-forwards"
          style={{ animationDelay: `${i * 100}ms` }}
        >
          <ListItem post={post.data} />
        </li>
      ))
    }
  </List>

  <ListPagination page={page} />
</BaseLayout>
