---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { sortByCreatedAt } from '../../utils/collection';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { List, ListItem } from '@/components/posts/List';
import { ListPagination } from '@/components/posts/ListPagination';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog');
  const sortedPosts = posts.toSorted(sortByCreatedAt);
  return paginate(sortedPosts, { pageSize: 6 });
}) satisfies GetStaticPaths;
const { page } = Astro.props;
---

<BaseLayout>
  {page.currentPage === 1 && <h2 class="font-bold mb-4 mt-20">近期文章</h2>}

  <List>
    {page.data.map((post) => <ListItem post={post.data} />)}
  </List>

  <ListPagination page={page} />
</BaseLayout>
