---
import FriendCard from '@/components/Friends/FriendCard.astro';
import Heading from '@/components/layouts/Heading.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const friends = await getCollection('friends');
---

<BaseLayout title="友链">
  <Heading>朋友们</Heading>
  <ul class="gap-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      friends.map((friend) => (
        <li>
          <FriendCard friend={friend.data} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
