---
import Heading from '@/components/layouts/Heading.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const friends = await getCollection('friends');
---

<BaseLayout title="Friends">
  <Heading />
  <ul>
    {
      friends.map((friend) => (
        <li>
          <a href={friend.data.url}>{friend.data.id}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
