---
import Heading from '@/components/layouts/Heading.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import SearchInput from 'astro-pagefind/components/Search';
---

<BaseLayout title="搜索">
  <Heading />
  <div class="w-full">
    <SearchInput
      id="search"
      className="pagefind-ui w-full"
      uiOptions={{ showImages: false, autofocus: true }}
    />
  </div>
</BaseLayout>

<style>
  :root.dark {
    --pagefind-ui-primary: #c084fc;
    --pagefind-ui-text: #e4e4e7;
    --pagefind-ui-background: #18181b;
    --pagefind-ui-border: #27272a;
    --pagefind-ui-tag: #27272a;
  }
</style>
