---
import { siteConfig } from '@/configs/site';
import now from '~build/time';
---

<footer class="mt-10 w-full py-2 ring-1 ring-zinc-800/5">
  <div class="max-w-3xl 2xl:max-w-4xl mx-auto flex justify-between text-sm">
    <div>
      © {now.getFullYear()}
      Design by
      <a class="a-normal text-sm" href="https://github.com/SkyeYoung">
        Young
      </a>
      .
    </div>
    <div class="flex gap-4">
      <a class="a-normal text-sm" href="/sitemap-index.xml">Sitemap</a>
      <a class="a-normal text-sm" href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
