---
import { siteConfig } from '@/configs/site';
import AnimatedLogo from '@/components/AnimatedLogo.astro';

const links = [
  {
    label: '首页',
    href: '/',
  },
  {
    label: '标签',
    href: '/tags',
  },
  {
    label: '搜索',
    href: '/search',
  },
  {
    label: '友链',
    href: '/friends',
  },
];
---

<header class="w-full">
  <div class="max-w-3xl mx-auto py-4 flex items-center justify-between">
    <div class="flex items-center">
      <a
        href="/"
        class="text-xl text-gray-900 hover:text-gray-700 transition-colors"
        aria-label={siteConfig.title}
      >
        <AnimatedLogo width={200} height={40} className="text-gray-900" />
      </a>
    </div>

    <nav class="md:flex items-center space-x-4">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="text-gray-600 hover:text-gray-900 transition-colors"
          >
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>
</header>
